/**
* Starting styles here
**/
*,
*:before,
*:after {
  outline: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: $font-beau-reg;
  font-size: 14px;
  color: $base-color;
  background-color: $background-default-color;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -125px;
  &:after {
    content: "";
    display: block;
    height: 125px;
  }
}
a {
  text-decoration: none;
  transition: all .25s linear;
  &:hover,
  &:focus {
    outline: none;
    color: $button-default-color;
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
