section.carousel-block
  .container
    #carousel-example-generic.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#carousel-example-generic", data-slide-to="0")
        li(data-target="#carousel-example-generic", data-slide-to="1")
        li(data-target="#carousel-example-generic", data-slide-to="2")
      <!-- Wrapper for slides -->
      .carousel-inner(role="listbox")
        .item.active
          a(href="#", title="Детска коляска Lonex")
            img(src="assets/images/carousel/slide1.jpg", alt="")
            .carousel-caption
              .carousel-caption_t Детские коляски<br>
                span LONEX
              .carousel-caption_slogan Комфорт и надежная защита<br>для вашего малыша
            .carousel-price от 
              span 12 000 Р
        .item
          a(href="#", title="Детска коляска Lonex")
            img(src="assets/images/carousel/slide1.jpg", alt="")
            .carousel-caption
              .carousel-caption_t Детские коляски<br>
                span LONEX
              .carousel-caption_slogan Комфорт и надежная защита<br>для вашего малыша
            .carousel-price от 
              span 12 000 Р
        .item
          a(href="#", title="Детска коляска Lonex")
            img(src="assets/images/carousel/slide1.jpg", alt="")
            .carousel-caption
              .carousel-caption_t Детские коляски<br>
                span LONEX
              .carousel-caption_slogan Комфорт и надежная защита<br>для вашего малыша
            .carousel-price от 
              span 12 000 Р
      
