section.latest
  .container
    h3.h3 Еще вы смотрели
    ul.latest-list.row
      li.latest-item.col-md-3
        .latest-item_img
          img(src="assets/images/products/item1.png")
        .latest-item_info
          .latest-item_t
            a(href="#") Peg-Perego Pliko Mini
          .latest-item_price 12 600 - 18 550 
            span руб.
      li.latest-item.col-md-3
        .latest-item_img
          img(src="assets/images/products/item1.png")
        .latest-item_info
          .latest-item_t
            a(href="#") Peg-Perego Pliko Mini
          .latest-item_price 12 600 - 18 550 
            span руб.
      li.latest-item.col-md-3
        .latest-item_img
          img(src="assets/images/products/item1.png")
        .latest-item_info
          .latest-item_t
            a(href="#") Peg-Perego Pliko Mini
          .latest-item_price 12 600 - 18 550 
            span руб.
      li.latest-item.col-md-3
        .latest-item_img
          img(src="assets/images/products/item1.png")
        .latest-item_info
          .latest-item_t
            a(href="#") Peg-Perego Pliko Mini
          .latest-item_price 12 600 - 18 550 
            span руб.
        
      
