doctype html
html
  head
    block head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')
    link(href='assets/css/main.css', rel='stylesheet', type='text/css')
  body
    .wrapper
      include _header
      include _search
    
      block body
    include _footer
    include _global-scripts

      
