nav
  ul.pagination
    li
      a(href="#", aria-label="Previous")
        img(src="assets/images/slick/arr-left.png", alt="")
    li
      a(href="#") Предыдущая
    li
      a(href="#") 1
    li
      a(href="#") 2
    li
      a(href="#") 3
    li
      a(href="#") 4
    li
      a(href="#") 5
    li
      a(href="#") Следующая
    li
      a(href="#", aria-label="Next")
        img(src="assets/images/slick/arr-right.png", alt="")
