section.product
  .container
    .product-block
      h2.h2 Популярные товары
      .product-block_ul.row
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-raiting
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star.selected
                  i.fa.fa-star
                  span 6,9 из 10
              .item-price от 
                span 5609 
                руб.
      .row
        .col-md-6.col-md-pull-3.col-md-push-3
          a(href="#").load-more-btn#more-products Показать еще на этой странице
