section.product
  .container
    .product-block
      h2.product-block_t Для выписки из роддома
      .product-block_ul.row.__roddom
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
        li.product-block_li.col-md-3
          .item-header
            a(href="#")
              img(src="assets/images/products/item1.png", alt="")
          .item-body
            .item-icn
              span.icon-pram
            .item-info
              .item-name
                a(href="#") Peg-Perego Pliko Mini
              .item-price от 
                span 5609 
                руб.
