section.range-slider
  .container
    .range-slider_block
      form.form-range-slider
        .row
          .col-md-3
            .range-slider_t Сколько вашему малышу?
            input(type="checkbox", name="years").css-checkbox#years
            label(for="years").css-label Не учитывать возраст ребенка
          .col-md-6
            #range
            .range-hint * Мы покажем товары в каталоге подходящие по возрасту вашему ребенку
          .col-md-3
            .city-block
              .city-block_label
                span.icon-map-marker
                Вы из города
              select.custom-select.form-control
                option Можайск
                option Можга
                option Моздок
                option Монино
                option Мончегорск
                option Морозовск
                option Моршанск
                option Москва
                option Московский
                option Мостовской
                option Можайск
                option Можга
                option Моздок
                option Монино
                option Мончегорск
                option Морозовск
                option Моршанск
                option Москва
                option Московский
                option Мостовской

        
