section.search
  .search-block
    .container
      .row
        .col-md-3
          a(href="#").btn.btn-default.__iconed#toggler
            i.fa.fa-reorder
            Каталог товаров
        <!-- default search markup full width-->
        //- .col-md-9
        //-   form.form-horizontal
        //-     .form-group.has-feedback
        //-       .col-xs-12
        //-         .input-group
        //-           input.form-control.__search-control(type="text", placeholder="Например, Aprica Magical Air")        
        //-           span.input-group-btn
        //-             button.btn.btn-default(type="button") Поиск
        //-         span.glyphicon.glyphicon-search.form-control-feedback
        <!-- if someone set aside a goods use this markup-->
        .col-md-7
          form.form-horizontal
            .form-group.has-feedback
              .col-xs-12
                .input-group
                  input.form-control.__search-control(type="text", placeholder="Например, Aprica Magical Air")        
                  span.input-group-btn
                    button.btn.btn-default(type="button") Поиск
                span.glyphicon.glyphicon-search.form-control-feedback
        .col-md-2
          a(href="#", title="Отложенный товар").set-aside
            .set-aside_label Отложено
            .set-aside_cnt 17
  .search-toggle
    .container
      .search-toggle_t Каталог товаров
      .search-toggle_list
        .search-toggle_box
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-pram
              .item_n Коляски
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-bed
              .item_n Кроватки
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-commode
              .item_n Детские комоды
        .search-toggle_box
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-pram
              .item_n Матрасы
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-chair-for-babies
              .item_n Стульчики для кормления
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-swaddling-board
              .item_n Пеленальные доски
        .search-toggle_box
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-linens
              .item_n Постельное белье
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-armchair
              .item_n Детские автокресла
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-cupboard
              .item_n Детские шкафы
        .search-toggle_box
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-manege
              .item_n Манежи
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-play-furniture
              .item_n Игровая мебель
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-complect-furniture
              .item_n Комплекты мебели
        .search-toggle_box
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-bicycle
              .item_n Велосипеды
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-sled
              .item_n Санки
          .search-toggle_item
            a(href="#", title="")
              .item_icn
                span.icon-pram
              .item_n Электромобили
                
      .search-toggle_t Производители
      .search-toogle_ul
        li
          a(href="#") Adamex
        li
          a(href="#") Aprica
        li
          a(href="#") CAM
        li
          a(href="#") Camarelo
        li
          a(href="#") Adamex
        li
          a(href="#") Aprica
        li
          a(href="#") CAM
        li
          a(href="#") Camarelo
        li
          a(href="#") Adamex
        li
          a(href="#") Aprica
        li
          a(href="#") CAM
        li
          a(href="#") Camarelo
        li
          a(href="#") Adamex   
        li
          a(href="#") Aprica
        li
          a(href="#") CAM
        li
          a(href="#") Camarelo
      a(href="#") Показать всех производителей
            
            
                              
          
          
        
              
          
        
          
    
