section.top-brands
  .container
    .top-brands_block
      .row
        .col-md-3
          h2.top-brands_t Топовые бренды
        .col-md-9
          ul.top-brands_ul
            li.top-brands_li
              a(href="#", title="Adamex") Adamex
            li.top-brands_li
              a(href="#", title="Aprica") Aprica
            li.top-brands_li
              a(href="#", title="CAM") CAM
            li.top-brands_li
              a(href="#", title="Camarelo") Camarelo
            li.top-brands_li
              a(href="#", title="Capella") Capella
            li.top-brands_li
              a(href="#", title="Geoby") Geoby
            li.top-brands_li
              a(href="#", title="Inglesina") Inglesina
            li.top-brands_li
              a(href="#", title="Maclaren") Maclaren
            li.top-brands_li
              a(href="#", title="Peg-Perego") Peg-Perego 
            li.top-brands_li
              a(href="#", title="Teutonia") Teutonia
            li.top-brands_li
              a(href="#", title="Adamex") Adamex
            li.top-brands_li
              a(href="#", title="Aprica") Aprica
            li.top-brands_li
              a(href="#", title="CAM") CAM
            li.top-brands_li
              a(href="#", title="Camarelo") Camarelo
            li.top-brands_li
              a(href="#", title="Capella") Capella
            li.top-brands_li
              a(href="#", title="Geoby") Geoby
            li.top-brands_li
              a(href="#", title="Inglesina") Inglesina
            li.top-brands_li
              a(href="#", title="Maclaren") Maclaren
            li.top-brands_li
              a(href="#", title="Peg-Perego") Peg-Perego 
            li.top-brands_li
              a(href="#", title="Teutonia") Teutonia
              
              
              
                                                                                
      
