extend partials/_layout
block head
  title Baby - Производители

block body
  include partials/_breadcrumbs
  section.manufacturers
    .container
      h2.h2 Производители
      hr.hr-bordered
      .row
        .col-md-6
          .manufacturers-links
            a(href="#") Просто список
            a(href="#") Расширенные данные
        .col-md-6
          form.form-horizontal
            .form-group.has-feedback
              .col-xs-12
                .input-group
                  input.form-control.__search-control(type="text", placeholder="Быстрый поиск")        
                  span.input-group-btn
                    button.btn.btn-default(type="button") Поиск
                span.glyphicon.glyphicon-search.form-control-feedback
      .manufacturers-filter
        ul.filter_ul
          li.lng
            a(href="#") en
          li.lng
            a(href="#") ru
          li
            a(href="#") 0-9
          li
            a(href="#") a
          li
            a(href="#") b
          li
            a(href="#") c
          li
            a(href="#") d
          li
            a(href="#") e
          li
            a(href="#") f
          li
            a(href="#") g
          li
            a(href="#") h
          li
            a(href="#") i
          li
            a(href="#") j
          li
            a(href="#") k
          li
            a(href="#") l
          li
            a(href="#") m
          li
            a(href="#") n
          li
            a(href="#") o
          li
            a(href="#") p
          li
            a(href="#") q
          li
            a(href="#") r
          li
            a(href="#") s
          li
            a(href="#") t
          li
            a(href="#") u
          li
            a(href="#") v
          li
            a(href="#") w
          li
            a(href="#") x
          li
            a(href="#") y
          li
            a(href="#") z
      .manufacturers-list.row
        .col-md-3.column-bordered
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
        .col-md-3.column-bordered
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
        .col-md-3.column-bordered
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
        .col-md-3.column-bordered
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
          .manufacturers-box
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
            .manufacturers-item 
              a(href="#") Adamex
              p.manufacturers-country Польша
              p.manufacturers-cnt Товаров на сайте: 246
