extend partials/_layout
block head
  title Baby - Избранное

block body
  include partials/_breadcrumbs
  section.favorite
    .container
      h2.h2 Отложенные товары
      .row
        .favorite-list.col-md-9
          .favorite-item
            .favorite-img
              a(href="#")
                img(src="assets/images/products/item1.png", alt="")
            .favorite-info
              h3.favorite-name 
                a(href="#") Peg-Perego Pliko Mini
              .favorite-price 12 600 - 18 550 
                span руб.
              .favorite-cat Детские коляски 2 в 1,
                span.favorite-brand Roan
              .favorite-raiting
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star
                span 6,9 из 10
              .favorite-age Возрастная группа: 
                span 0 - 2 года
              .favorite-desc Насос в комплекте Имеет спортивный дизайн. Предназначено для малыша от рождения до 6-ти месяцев. Люльку можна установить как "лицом" к маме...
              .favorite-panel
                a(href="#") Отзывы 
                  span (460)
                a(href="#") Обсуждения 
                  span (23)
                a(href="#") Фотографии
                a(href="#").delete 
                  span.icon-trash
                  Убрать из отложенных
          .favorite-item
            .favorite-img
              a(href="#")
                img(src="assets/images/products/item1.png", alt="")
            .favorite-info
              h3.favorite-name 
                a(href="#") Peg-Perego Pliko Mini
              .favorite-price 12 600 - 18 550 
                span руб.
              .favorite-cat Детские коляски 2 в 1,
                span.favorite-brand Roan
              .favorite-raiting
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star
                span 6,9 из 10
              .favorite-age Возрастная группа: 
                span 0 - 2 года
              .favorite-desc Насос в комплекте Имеет спортивный дизайн. Предназначено для малыша от рождения до 6-ти месяцев. Люльку можна установить как "лицом" к маме...
              .favorite-panel
                a(href="#") Отзывы 
                  span (460)
                a(href="#") Обсуждения 
                  span (23)
                a(href="#") Фотографии
                a(href="#").delete 
                  span.icon-trash
                  Убрать из отложенных
          .favorite-item
            .favorite-img
              a(href="#")
                img(src="assets/images/products/item1.png", alt="")
            .favorite-info
              h3.favorite-name 
                a(href="#") Peg-Perego Pliko Mini
              .favorite-price 12 600 - 18 550 
                span руб.
              .favorite-cat Детские коляски 2 в 1,
                span.favorite-brand Roan
              .favorite-raiting
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star
                span 6,9 из 10
              .favorite-age Возрастная группа: 
                span 0 - 2 года
              .favorite-desc Насос в комплекте Имеет спортивный дизайн. Предназначено для малыша от рождения до 6-ти месяцев. Люльку можна установить как "лицом" к маме...
              .favorite-panel
                a(href="#") Отзывы 
                  span (460)
                a(href="#") Обсуждения 
                  span (23)
                a(href="#") Фотографии
                a(href="#").delete 
                  span.icon-trash
                  Убрать из отложенных
          .favorite-item
            .favorite-img
              a(href="#")
                img(src="assets/images/products/item1.png", alt="")
            .favorite-info
              h3.favorite-name 
                a(href="#") Peg-Perego Pliko Mini
              .favorite-price 12 600 - 18 550 
                span руб.
              .favorite-cat Детские коляски 2 в 1,
                span.favorite-brand Roan
              .favorite-raiting
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star.selected
                i.fa.fa-star
                span 6,9 из 10
              .favorite-age Возрастная группа: 
                span 0 - 2 года
              .favorite-desc Насос в комплекте Имеет спортивный дизайн. Предназначено для малыша от рождения до 6-ти месяцев. Люльку можна установить как "лицом" к маме...
              .favorite-panel
                a(href="#") Отзывы 
                  span (460)
                a(href="#") Обсуждения 
                  span (23)
                a(href="#") Фотографии
                a(href="#").delete 
                  span.icon-trash
                  Убрать из отложенных
      include partials/_pagi
  include partials/_latest
              
