extend partials/_layout
block head
  title Baby - главная страница

block body
  include partials/_carousel
  include partials/_range-slider
  include partials/_product-carousel
  include partials/_top-brands
  include partials/_popular
