extend partials/_layout
block head
  title Baby - Регистрация успешна!

block body
  section.registration
    .container
      h2.h2 Регистрация на сайте
      hr.hr-bordered
      .regsiter-success Регистрация завершена. На вашу почту отправлено письмо со ссылкой активации вашего профиля. Перейдите по ссылке из письма, чтобы активировать профиль и получить доступ к личному кабинету. 
      a(href="#") Вернуться на главную страницу
              
