extend partials/_layout
block head
  title Baby - Восстановление пароля

block body
  section.registration
    .container
      h2.h2 Восстановление пароля
      hr.hr-bordered
      .regsiter-success Для востановления пароля, вам необходимо указать ваш e-mail, который используется как логин на сайте. После этого вам на почту будет отправлено письмо со ссылкой сброса текущего пароля.
      form.form-horizontal
        .form-group
          label.col-md-2.control-label Ваш e-mail
          .col-md-6
            input(type="email").form-control
        .form-group
          .col-md-9.col-md-offset-2
            input(type="submit", value="Восстановить доступ").btn.btn-default
            a(href="#").register-cancel Отменить. Я вспомнил пароль
              
