extend partials/_layout
block head
  title Baby - Восстановление пароля

block body
  section.registration
    .container
      h2.h2 Восстановление пароля
      hr.hr-bordered
      .regsiter-success Введите новый пароль для аккаунта petr124@mail.ru, который будет использоваться для входа на сайт. После сохранения - старый пароль более будет не действителен.
      form.form-horizontal
        .form-group
          label.col-md-2.control-label Ваш e-mail
          .col-md-6
            input(type="password").form-control
          .col-md-4.placeholders Минимум 7 символов
        .form-group
          label.col-md-2.control-label Пароль (повторно)
          .col-md-6
            input(type="email").form-control.error-control
          .col-md-4.placeholders.with-errors Пароли не совпадают. Проверьте правильность ввода.
        .form-group
          .col-md-9.col-md-offset-2
            input(type="submit", value="Установить новый пароль").btn.btn-default
            a(href="#").register-cancel Отменить. Перейти на главную
