$link-color: #1c64a1;
$base-color: #333c4e;
$base-color-light: #a0acc0;
$light-color: #fff;
$button-default-color: #94caf9;
$button-default-color-hovered: #79baf2;
$border-color: #d6dbe4;
$background-default-color: #f9f9fb;
$brand-color: #b2d99e;
$error-color: #dd7a86;
